*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

a {
  outline: none;
  box-shadow: none;
  color: inherit;
  transition: all 0.25s ease 0.1s;

  &, &:hover, &:focus {
    text-decoration: none;
    cursor: pointer;
  }
}

button {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  outline: none;
  box-shadow: none;
}
