@include keyframes(spin) {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@include keyframes(fill) {
  0%        { opacity: 0; }
  50%, 100% { opacity: 1; }
}

@include keyframes(mask) {
  0%        { opacity: 1; }
  50%, 100% { opacity: 0; }
}



@include keyframes(grow) {
  0% { padding-top: 0%; }
  100% { padding-top: (sqrt(2)*100%); }
}
